<h1>Store</h1>

<% @posters.each do |p| %>
<div class="row">
  <%= link_to poster_path(p.permalink) do %>
    <b>Price:</b> <%= p.price %>
    <b>Name:</b><%= p.name %>
    <br>
    <%= image_tag p.image, class: "img img-thumbnail", width: "600px" %>
  <% end %>
</div>
<% end %>
